*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
#fundo{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    background-image: url("../imagens/fundo.jpg");
    background-size: cover;
}
#treno{
    width: 10vw;
    height: 10vh;
}
#ifsp{
    width: 10vw;
    height: 10vh;
}
